### Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

### Coverage and test outputs
*.cover
coverage.out

### IDE and editor files
.vscode/
.idea/
*.swp
.DS_Store

#local dev files
dist/
.plan/